.list{
    width: 90%;
    max-width: 60rem;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

/* .list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flexbox;
} */

.eachItem{
    padding: 40px;
    flex: 1 1 calc(50% - 16px);
    border: 1px solid #eeecec;
    
}

.items-header {
    height: 30vh;
    background: #777;
    
}

.items-header h1 {
    padding-top: 4%;
    font-size: 100px;
    display: block;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.music {
    display: block;
    margin: auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
